input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    text-align: center;
    padding: 3px 20px;
    border: none;
    color: #ffffff;
    border-radius: .5em;
    background: #137cc1;
    font-size: 18px;
    font-family: "Nimbus-Sans-Condensed";
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.07em;
}

//Secondary Sidebar Menu - uses wp_nav_menu() for markup
#secondary-sidebar-nav{display:block;}
#secondary-sidebar-nav{
  ul#main_nav_secondary{display:block;list-style:none;}
  ul#main_nav_secondary{
      ul{list-style:none;margin:0;}
      li{margin:0;}
      > li{}
      > li > a{background:$blue;color: #fff;font: bold 19px/19px "nimbus-sans-condensed";text-transform: uppercase;display: block;padding: 16px 20px 8px;}
      > li:last-child > a{padding: 16px 20px 13px;}
        a{text-decoration:none;}
        a:hover, li.current-menu-item > a, .current-menu-ancestor > a{color:$d-grey;}

      > li > ul{background:$m-grey;}
      > li > ul > li{padding:0 0;}
      > li > ul > li > a{color: #fff;font: bold 19px/19px "nimbus-sans-condensed";text-transform: uppercase;display: block;padding: 14px 0px 5px 20px;}

      > li > ul > li > ul{padding:0 0;}
      > li > ul > li > ul > li{padding:0 0;}
      > li > ul > li > ul > li > a{color: #fff;font: 18px/18px "minion";display: block;padding: 4px 0px 0px 20px;letter-spacing: 0.03em;word-spacing: 0.09em;}
      > li > ul > li > ul > li:last-child > a{padding: 4px 0px 16px 20px;}
  }
}

/* Forms */
form {
margin: 20px;
   padding: 10px; }
fieldset {
margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
select {
border: 3px solid #fff;
padding: 6px 8px;
font: 18px/24px "Nimbus-Sans", Helvetica, Arial, sans-serif;
max-width: 100%;
display: block;
background: #e2e2e2;
   color: #323333;
   margin: 0px 20px;
   overflow: hidden;
   box-sizing:border-box;
   width: 100%;
}


.form-row {
   position: relative;
}

.approved-icon {
   position: absolute;
   top: 15px;
   right: 15px;
   color: #02c253;
}

.denied-icon {
   position: absolute;
   top: 15px;
   right: 15px;
   color: #ff0000;
}

.approved-text {
   color: #02c253 !important;
}

.denied-text {
   color: #ff0000 !important;
}

::-webkit-input-placeholder {
  color: #323333;
}

:-moz-placeholder { /* Firefox 18- */
  color: #323333;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #323333;
}

:-ms-input-placeholder {
  color: #323333;
}

//table
$border-grey: #353535;
table{background:$l-blue;}
table{
  thead{}
    thead th{border-bottom:2px solid $border-grey;border-left:2px solid $border-grey;border-right:2px solid $border-grey;font: bold 19px/22px "nimbus-sans-condensed";text-transform: uppercase;padding: 16px 0px 15px;text-align: center;}
    thead th:first-child{border:none;border-bottom:2px solid $border-grey;border-right:2px solid $border-grey;}
    thead th:last-child{border:none;border-bottom:2px solid $border-grey;border-left:2px solid $border-grey;}
  tr{}
    tr:first-child{}
      tr:first-child td{}
      tr:first-child td:first-child{}
      tr:first-child td:last-child{}
    tr:last-child{}
      tr:last-child td{border:none;border-top:2px solid $border-grey;border-left:2px solid $border-grey;border-right:2px solid $border-grey;}
      tr:last-child td:first-child{border:none;border-top:2px solid $border-grey;border-right:2px solid $border-grey;}
      tr:last-child td:last-child{border:none; border-top:2px solid $border-grey;border-left:2px solid $border-grey;}
    thead + tr:first-child{}
    thead + tr:first-child td:first-child{}
    thead + tr:first-child td:last-child{}
  td{border:2px solid #353535;padding: 10px 20px;}
    td:first-child{border:none;border-top:2px solid $border-grey;border-bottom:2px solid $border-grey;border-right:2px solid $border-grey;}
    td:last-child{border:none;border-top:2px solid $border-grey;border-bottom:2px solid $border-grey;border-left:2px solid $border-grey;}
  tfoot{}
  tfoot td{}
}

//images
.wp-caption{border:none;padding:0;text-align:left;}
  .wp-caption p.wp-caption-text{font:12px/16px "minion";margin:0 0 .1em;padding:0;}



// Vertical callouts

.#{$namespace}info-box { display: block; }
.#{$namespace}info-box {
    .#{$namespace}info-box-header { background: $green; padding: 15px; }
    .#{$namespace}info-box-header {
        .#{$namespace}info-box-header-title { display: block; text-align: center; text-transform: uppercase; font-size: 18px; font-weight: 600; font-family: "Nimbus-Sans"; color: white; };
     }
    .#{$namespace}info-box-body { background: $s-grey; padding: 11px 18px; }
    .#{$namespace}info-box-body {
        .#{$namespace}info-box-body-title { display: block; text-transform: uppercase; font-size: 18px; font-weight: 600; font-family: "Nimbus-Sans-Condensed"; color: $d-grey; line-height: 23px; };
        .#{$namespace}info-box-body-date { display: block; font-size: 15px; font-weight: 600; font-family: "Nimbus-Sans"; color: $d-grey; };
        .#{$namespace}info-box-body-excerpt { display: block; font-size: 13px; font-weight: 400; font-family: "Minion"; color: $d-grey; letter-spacing: .05em; line-height: 18px; };
        .#{$namespace}info-box-body-link { display: block; font-size: 14px; font-weight: 600; font-family: "Minion"; color: $d-grey; margin-top: 17px; font-style: italic; };
    }
}

.#{$namespace}short-callout { display: block; border-radius: 10px; background: #f65446; padding: 79px 24px; }
.#{$namespace}short-callout {
    span { display: block; font-family: "Nimbus-Sans-Condensed"; font-weight: 600; text-transform: uppercase; text-align: center; font-size: 43px; line-height: 46px; color: white; }
}
