input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    text-align: center;
    padding: 3px 20px;
    border: none;
    color: #ffffff;
    border-radius: .5em;
    background: #137cc1;
    font-size: 18px;
    font-family: $nimbus-c;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.07em;
}
textarea,input,select{outline: none;}

//Secondary Sidebar Menu - uses wp_nav_menu() for markup
#secondary-sidebar-nav{display:block;}
#secondary-sidebar-nav{
  ul#main_nav_secondary{display:block;list-style:none;}
  ul#main_nav_secondary{
      ul{list-style:none;margin:0;}
      li{margin:0;}
      > li{}
      > li > a{background:$blue;color: #fff;font: bold 19px/19px $nimbus-c;text-transform: uppercase;display: block;padding: 16px 20px 8px;}
      > li:last-child > a{padding: 16px 20px 13px;}
        a{text-decoration:none;}
        a:hover, li.current-menu-item > a, .current-menu-ancestor > a{color:$d-grey;}

      > li > ul{background:$m-grey;}
      > li > ul > li{padding:0 0;}
      > li > ul > li > a{color: #fff;font: bold 19px/19px $nimbus-c;text-transform: uppercase;display: block;padding: 14px 0px 5px 20px;}

      > li > ul > li > ul{padding:0 0;}
      > li > ul > li > ul > li{padding:0 0;}
      > li > ul > li > ul > li > a{color: #fff;font: 18px/18px $minion;display: block;padding: 4px 0px 0px 20px;letter-spacing: 0.03em;word-spacing: 0.09em;}
      > li > ul > li > ul > li:last-child > a{padding: 4px 0px 16px 20px;}

      > li > ul > li > ul ul{display:none;}
  }
}

/* Forms */
form {
margin: 20px;
   padding: 10px; }
fieldset {
margin-bottom: 20px; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
select {
border: 3px solid #fff;
padding: 6px 8px;
font: 18px/24px $nimbus, Helvetica, Arial, sans-serif;
max-width: 100%;
display: block;
background: #e2e2e2;
   color: #323333;
   margin: 0px 20px;
   overflow: hidden;
   box-sizing:border-box;
   width: 100%;
}


.form-row {
   position: relative;
}

.approved-icon {
   position: absolute;
   top: 15px;
   right: 15px;
   color: #02c253;
}

.denied-icon {
   position: absolute;
   top: 15px;
   right: 15px;
   color: #ff0000;
}

.approved-text {
   color: #02c253 !important;
}

.denied-text {
   color: #ff0000 !important;
}

::-webkit-input-placeholder {
  color: #323333;
}

:-moz-placeholder { /* Firefox 18- */
  color: #323333;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #323333;
}

:-ms-input-placeholder {
  color: #323333;
}

//table
$border-grey: #353535;
table{background:$l-blue;}
table{
  thead{}
    thead th{border-bottom:2px solid $border-grey;border-left:2px solid $border-grey;border-right:2px solid $border-grey;font: bold 19px/22px $nimbus-c;text-transform: uppercase;padding: 16px 0px 15px;text-align: center;}
    thead th:first-child{border:none;border-bottom:2px solid $border-grey;border-right:2px solid $border-grey;}
    thead th:last-child{border:none;border-bottom:2px solid $border-grey;border-left:2px solid $border-grey;}
  tr{}
    tr:first-child{}
      tr:first-child td{}
      tr:first-child td:first-child{}
      tr:first-child td:last-child{}
    tr:last-child{}
      tr:last-child td{border:none;border-top:2px solid $border-grey;border-left:2px solid $border-grey;border-right:2px solid $border-grey;}
      tr:last-child td:first-child{border:none;border-top:2px solid $border-grey;border-right:2px solid $border-grey;}
      tr:last-child td:last-child{border:none; border-top:2px solid $border-grey;border-left:2px solid $border-grey;}
    thead + tr:first-child{}
    thead + tr:first-child td:first-child{}
    thead + tr:first-child td:last-child{}
  td{border:2px solid #353535;padding: 10px 20px;}
    td:first-child{border:none;border-top:2px solid $border-grey;border-bottom:2px solid $border-grey;border-right:2px solid $border-grey;}
    td:last-child{border:none;border-top:2px solid $border-grey;border-bottom:2px solid $border-grey;border-left:2px solid $border-grey;}
  tfoot{}
  tfoot td{}
}

//images
.wp-caption{border:none;padding:0;text-align:left;}
  .wp-caption p.wp-caption-text{font:12px/16px $minion;margin:0 0 .1em;padding:0;}

//banners
/*
  <div id="banner" class="#{$namespace}background-COLORNAME menu">
    <div class="container">
      <div class="gutter">
        <?php wp_nav_menu(); ?>
      </div>
    </div>
  </div>

  <div id="bannerHome" class="KCPL_background-yellow">
    <div class="container">
      <div class="columns seven">
        <div class="gutter">
          <h1>top</h1>
          <h2>bottom</h2>
        </div>
      </div>
    </div>
  </div>
*/
#banner{height:202px;float:left;width:100%;text-align:center;
  ul{list-style:none;margin:0;vertical-align:bottom;display:table-cell;}
  li{float:left;display:block;display:table;}
    ul ul{}
  .container{height:202px;display:table;}
  .gutter{display:table;height:100%;width:100%;vertical-align:middle;}
  a{display:none;color:#fff;float:left;}
    li.current-menu-ancestor > a, li.current-menu-item > a{display:block;}
  #main_navBannerCont{text-align:center;display:table-cell;width:100%;height:100%;vertical-align:middle;
    > ul{margin:0 auto;display:inline-block;}
    > ul > li{display:table;}
    > ul > li ul{vertical-align:bottom;display:table-cell;}
    > ul > li > a{font:bold 41px/41px $nimbus-c;text-transform:uppercase;margin:0 25px 0 0;}

    > ul > li > ul{}
    > ul > li > ul > li{}
    > ul > li > ul > li > a{font:italic 25px/30px $minion;margin:0 22px 0 0;}

    > ul > li > ul > li > ul{}
    > ul > li > ul > li > ul > li{}
    > ul > li > ul > li > ul > li > a{font:bold 19px/26px $nimbus;margin:0 20px 0 0;text-transform:uppercase;}

    > ul > li > ul > li > ul > li > ul{}
    > ul > li > ul > li > ul > li > ul > li{}
    > ul > li > ul > li > ul > li > ul > li > a{font:18px/25px $minion;margin:0;}
  }
}

#bannerHome{ color:#fff;height:297px;float:left;width:100%;
  .gutter{padding:0 0 0 11px;}
  .container{display:table;height:297px;}
  .columns{display:table-cell;float:none;margin:0 0 0 13px;vertical-align:middle;}
  h1{margin:0 0 0;}
  h2{margin:0 0 0;}
}

// Homepage Unique Callouts
/*
   <ol class="homepage-callout-list">
       <li>Learn</li>
       <li>Play</li>
       <li>Visit</li>
       <li>Find</li>
   </ol>
*/
.homepage-callout-list { display: block; }
ol.homepage-callout-list { display: block;
    > li { font: normal 55px/51px $minion; text-transform: uppercase; color: white; padding: 12px 20px; }
    > li:nth-child(1) { background: $green; }
    > li:nth-child(2) { background: $red; }
    > li:nth-child(3) { background: $grey; }
    > li:nth-child(4) { background: $yellow; }
}

/*
   <div class="calendar-callout">
       <span>April 2014</span>
       <table>
           <tr>
               <td>1</td>
               <td>2</td>
               <td>3</td>
               <td>4</td>
               <td>5</td>
               <td>6</td>
               <td>7</td>
           </tr>
           <tr>
               <td>8</td>
               <td>9</td>
               <td>10</td>
               <td>11</td>
               <td>12</td>
               <td>13</td>
               <td>14</td>
           </tr>
           <tr>
               <td>15</td>
               <td>16</td>
               <td>17</td>
               <td>18</td>
               <td>19</td>
               <td>20</td>
               <td>21</td>
           </tr>
           <tr>
               <td>22</td>
               <td>23</td>
               <td>24</td>
               <td>25</td>
               <td>26</td>
               <td>27</td>
               <td>28</td>
           </tr>
           <tr>
               <td>29</td>
               <td>30</td>
               <td>31</td>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
           </tr>
       </table>
   </div>

*/
.calendar-callout { display: block; background: $s-grey; padding:23px; }
.calendar-callout {
    span { display: block; font: normal 13px/28px $minion; letter-spacing: 1px; padding-bottom: 5px; border-bottom: 1px solid #000; margin-bottom: 14px; }
    table { margin-top: 10px; font-family: $nimbus; font-weight: 700; }
    tr { padding-top: 10px; }
    td { padding: 0px 21px 11px 0px; }
}

// Vertical callouts
/*
   <div class="KCPL_info-box">
       <div class="KCPL_info-box-header">
           <span class="KCPL_info-box-header-title">Info</span>
       </div>
       <div class="KCPL_info-box-body">
           <span class="KCPL_info-box-body-title">Title this is the title it's short</span>
           <span class="KCPL_info-box-body-date">Date 3, 2014</span>
           <span class="KCPL_info-box-body-excerpt">Learn how easy it is to make your own healthy smoothies.</span>
           <span class="KCPL_info-box-body-link">More &nbsp; ≈</span>
       </div>
   </div>
*/

.#{$namespace}info-box { display: block; }
.#{$namespace}info-box {
    .#{$namespace}info-box-header { background: $green; padding: 15px; }
    .#{$namespace}info-box-header {
        .#{$namespace}info-box-header-title { display: block; text-align: center; text-transform: uppercase; font-size: 18px; font-weight: 600; font-family: $nimbus; color: white; };
     }
    .#{$namespace}info-box-body { background: $s-grey; padding: 11px 18px; }
    .#{$namespace}info-box-body {
        .#{$namespace}info-box-body-title { display: block; text-transform: uppercase; font-size: 18px; font-weight: 600; font-family: $nimbus-c; color: $d-grey; line-height: 23px; };
        .#{$namespace}info-box-body-date { display: block; font-size: 15px; font-weight: 600; font-family: $nimbus; color: $d-grey; };
        .#{$namespace}info-box-body-excerpt { display: block; font-size: 13px; font-weight: 400; font-family: $minion; color: $d-grey; letter-spacing: .05em; line-height: 18px; };
        .#{$namespace}info-box-body-link { display: block; font-size: 14px; font-weight: 600; font-family: $minion; color: $d-grey; margin-top: 17px; font-style: italic; };
    }
}

/*
   <div class="KCPL_short-callout">
       <span>Short Call Out</span>
   </div>
*/
.#{$namespace}short-callout { display: block; border-radius: 10px; background: #f65446; padding: 79px 24px; }
.#{$namespace}short-callout {
    span { display: block; font-family: $nimbus-c; font-weight: 600; text-transform: uppercase; text-align: center; font-size: 43px; line-height: 46px; color: white; }
}

/*
   <div class="KCPL_social-callout">
       <div class="KCPL_social-callout-header">
           <span>Follow Us</span>
       </div>
       <div class="KCPL_social-callout-body">
           <div class="KCPL_sprite-facebook KCPL_social-callout-icon"></div>
           <div class="KCPL_sprite-instagram KCPL_social-callout-icon"></div>
           <div class="KCPL_sprite-twitter KCPL_social-callout-icon"></div>
           <div class="KCPL_sprite-twitter KCPL_social-callout-icon"></div>
           <div class="KCPL_sprite-twitter KCPL_social-callout-icon"></div>
           <div class="KCPL_sprite-twitter KCPL_social-callout-icon"></div>

           <div class="clear"></div>

           <div class="KCPL_social-callout-tweet">
               <span class="KCPL_social-callout-tweet-content">"All KCPL locations will be closed all day on Wednesday, February 12 for Staff Development Day. Find us online at kanawhalibrary.org."</span>
               <span class="KCPL_social-callout-tweet-date">Feb 11</span>
           </div>
       </div>
   </div>
*/
.#{$namespace}social-callout { display: block; }
.#{$namespace}social-callout {
    .#{$namespace}social-callout-header { background: $blue; padding: 10px; }
    .#{$namespace}social-callout-header {
        span { display: block; font-family: $nimbus; font-weight: 700; font-size: 19px; line-height: 27px; text-transform: uppercase; color: white; text-align: center; }
    }
    .#{$namespace}social-callout-body { background: $s-grey; padding: 10px; }
    .#{$namespace}social-callout-body {
        .#{$namespace}social-callout-icon { margin: 4px 3px 7px 15px; float: left; };
        .#{$namespace}social-callout-tweet { background: $blue;padding: 10px 8px; border-radius: 10px; font-size: 13px; line-height: 16px; margin-top: 12px; };
        .#{$namespace}social-callout-tweet {
            .#{$namespace}social-callout-tweet-content { font-family: $minion; color: white; word-wrap: break-word; };
            .#{$namespace}social-callout-tweet-date { font-family: $nimbus; font-size: 13px; line-height: 16px; color: white; font-weight: 700;  };
        };
    }
}

// Vertical callout graphics
/*
   <div class="two columns">
       <div class="KCPL_callout-graphic-1-blue"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-1-green"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-1-purple"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-1-red"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-1-yellow"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-2-blue"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-2-green"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-2-purple"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-2-red"></div>
   </div>

   <div class="two columns">
       <div class="KCPL_callout-graphic-2-yellow"></div>
   </div>
*/

.#{$namespace}callout-graphic-1-blue { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts01_blue.png') }
.#{$namespace}callout-graphic-1-green { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts01_green.png') }
.#{$namespace}callout-graphic-1-purple { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts01_purple.png') }
.#{$namespace}callout-graphic-1-red { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts01_red.png') }
.#{$namespace}callout-graphic-1-yellow { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts01_yellow.png') }

.#{$namespace}callout-graphic-2-blue { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts02_blue.png') }
.#{$namespace}callout-graphic-2-green { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts02_green.png') }
.#{$namespace}callout-graphic-2-purple { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts02_purple.png') }
.#{$namespace}callout-graphic-2-red { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts02_red.png') }
.#{$namespace}callout-graphic-2-yellow { display: block; width: 140px; height: 275px; border-radius: 10px; background: url('./assets/img/verticalgraphiccallouts02_yellow.png') }


//Search boxes
/*
   //search field
  <div id="searchField">
    <i class="fa fa-lg fa-search searchicon"></i>
    <input type="search" placeholder="Search the collection" />
  </div>

   //collections search
  <div id="KCPL_search">
    <div class="gutter clearfix">
      <form>
        <div id="searchField">
          <i class="fa fa-lg fa-search searchicon"></i>
          <input type="search" placeholder="Search the collection" />
        </div>
        <div id="search-params">
          <div id="type">
            <span class="top">
              Search or<br>Browse by
            </span>
            <span class="bottom">
              <a class="media-active active">Media Type</a>
              <a class="audience-active">Audience</a>
            </span>
          </div>
          <div id="select" class="media-active clearfix">
            <div class="media">
              <div class="search-btn first books">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-book"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Books</span>
              </div>
              <div class="search-btn music">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-headphones"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Music</span>
              </div>
              <div class="search-btn research">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-document"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Research Tools<br>and Resources</span>
              </div>
              <div class="search-btn magazines">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-periodical"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Magazines</span>
              </div>
              <div class="search-btn video">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-video"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Video</span>
              </div>
              <div class="search-btn ebooks">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-tablet"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">E-books</span>
              </div>
              <div class="search-btn audiobooks">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-audiobook"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Audio Books</span>
              </div>
              <div class="search-btn last download">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-download"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Downloadables</span>
              </div>
            </div>
            <div class="audience">
              <div class="search-btn first kids">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-kids"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Kids</span>
              </div>
              <div class="search-btn teens">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-teens"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Teens</span>
              </div>
              <div class="search-btn last adults">
                <div class="iconCont">
                  <div class="icon KCPL_sprite-adult"></div>
                </div>
                <hr>
                <span class="KCPL_caption-minion-italicbold">Adults</span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  //collections search - extended
  <div id="KCPL_search" class="extended">
   <div class="gutter clearfix">
      <form>
        <div id="searchField">
          <i class="fa fa-lg fa-search searchicon"></i>
          <input type="search" placeholder="Search the collection" />
        </div>
        <div id="exFields">
          <div id="left">
           <select id="search-topic">
              <option value="">Topic</option>
              <option value="option_1">Option 1</option>
              <option value="option_2">Option 2</option>
              <option value="option_3">Option 3</option>
           </select>
          </div>
          <div id="right">
           <select id="search-audience">
              <option value="">Audience</option>
              <option value="option_1">Option 1</option>
              <option value="option_2">Option 2</option>
              <option value="option_3">Option 3</option>
           </select>
           <div id="search-online">
               <input type="checkbox" name="checkboxNAME" value="checkboxVAL" id="checkboxONE"/><label class="KCPL_meta-small" for="checkboxONE">Online</label>
           </div>
           <div id="search-libraryCard">
               <input type="checkbox" name="checkboxNAME" value="checkboxVAL" id="checkboxTWO"/><label class="KCPL_meta-small" for="checkboxTWO">With Library Card</label>
           </div>
           <div id="search-inLibrary">
               <input type="checkbox" name="checkboxNAME" value="checkboxVAL" id="checkboxTHREE"/><label class="KCPL_meta-small" for="checkboxTHREE">In Library Only</label>
           </div>
          </div>
        </div>
        <div id="search-params">
          <div id="type">
           <span class="top">
              Search or<br>Browse by
           </span>
           <span class="bottom">
              <a class="media-active active">Media Type</a>
              <a class="audience-active">Audience</a>
           </span>
          </div>
          <div id="select" class="media-active clearfix">
           <div class="media">
              <div class="search-btn first books">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-book"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Books</span>
              </div>
              <div class="search-btn music">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-headphones"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Music</span>
              </div>
              <div class="search-btn research">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-document"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Research Tools<br>and Resources</span>
              </div>
              <div class="search-btn magazines">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-periodical"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Magazines</span>
              </div>
              <div class="search-btn video">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-video"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Video</span>
              </div>
              <div class="search-btn ebooks">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-tablet"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">E-books</span>
              </div>
              <div class="search-btn audiobooks">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-audiobook"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Audio Books</span>
              </div>
              <div class="search-btn last download">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-download"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Downloadables</span>
              </div>
           </div>
           <div class="audience">
              <div class="search-btn first kids">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-kids"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Kids</span>
              </div>
              <div class="search-btn teens">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-teens"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Teens</span>
              </div>
              <div class="search-btn last adults">
                  <div class="iconCont">
                    <div class="icon KCPL_sprite-adult"></div>
                  </div>

                <hr>
                <span class="KCPL_caption-minion-italicbold">Adults</span>
              </div>
           </div>
          </div>
        </div>
      </form>
   </div>
  </div>
*/
#searchField{position:relative;display:block;margin:0 0 22px;
  .searchicon{position: absolute;z-index: 2;top: 13px;left: 15px;font-size: 17px;color: #323333;}
  input[type="search"]{-webkit-appearance: none;border-radius: 0px;border: 3px solid #fff;background: #e2e2e2;font: bold 17px/27px $nimbus;position: relative;z-index: 1;padding: 1px 20px 2px 27px;box-sizing: border-box;width:100%;}
}

#KCPL_search{background:$yellow;display:block;
  > .gutter{padding:8px 14px;}
  form{padding:0;margin:0;}
  #searchField{position:relative;display:block;margin:0 0 22px;}
  .searchicon{position: absolute;z-index: 2;top: 13px;left: 15px;font-size: 17px;color: #323333;}
  input[type="search"]{-webkit-appearance: none;border-radius: 0px;border: 3px solid #fff;background: #e2e2e2;font: bold 17px/27px $nimbus;position: relative;z-index: 1;padding: 1px 20px 2px 27px;box-sizing: border-box;width:100%;}
  #search-params{display:block;float:left;width:100%;}
  #type{float: left;width: 112px;border-right: 1px solid #323333;height: 99px;
    .top{font: bold 15px/18px $nimbus;color: #323333;display: block;padding: 6px 0px 0 6px;letter-spacing: 0.01em;word-spacing: 0.065em;}
    .bottom{font: bold 18px/22px $nimbus-c;color: #323333;display: block;text-transform: uppercase;padding: 1px 0 0;}
      .bottom a{color: #323333;display: block;padding: 0 0 0 6px;letter-spacing: 0.06em;}
      .bottom a:hover, .bottom a.active{color:#fff;cursor:pointer;}
  }
  #select{float:right;width:814px;}
  #select.media-active .media{display:block;}
  #select.audience-active .audience{display:block;}
  .media,.audience{display:none;}
  .search-btn{float: left;width: 80px;padding: 19px 0 0;margin: 0 12px 0;
    hr{border:none;border-top:1px solid #323333;margin:0 auto;padding:0;width:45px;}
    hr + span{display:block;text-align:center;}
  }
  .search-btn.first{margin-left:0;}
  .search-btn.last{margin-right:0;}
  .iconCont{height: 40px;width:100%;position:relative;
    .icon{margin:0 auto;position:absolute;}
  }
  .books .icon{top:0;left:15px;}
  .music .icon{top:0;left:23px;}
  .research .icon{top:-3px;left:25px;}
  .magazines .icon{top:-5px;left:25px;}
  .video .icon{top:2px;left:20px;}
  .ebooks .icon{top:-3px;left:24px;}
  .audiobooks .icon{top:0;left:20px;}
  .download .icon{top:1px;left:24px;}
  .kids .icon{top:-12px;left:20px;}
  .teens .icon{top:-12px;left:20px;}
  .adults .icon{top:-12px;left:20px;}

  #select:hover .search-btn{opacity:.7;}
  #select:hover .search-btn:hover{opacity:1;cursor:pointer;}
}

#KCPL_search.extended{
  #searchField{margin:0 0 8px;}
  #exFields{display:block;
    select{margin: 0;padding: 5px 0 3px 11px;border-radius: 0;-webkit-appearance: none;text-transform: uppercase;font: 14px/14px $nimbus;letter-spacing: 0.095em;margin:0 0 22px;}
    #left{float:left;width:467px;}
    #right{float:right;width:458px;margin:0 0 11px;
      #search-online{float:left;width:106px;}
      #search-libraryCard{float:left;width:189px;}
      #search-inLibrary{float:left;width:160px;}

      input[type="checkbox"]{-webkit-appearance: none;background: transparent;border: 1px solid #000;padding: 4px 4px;border-radius: 2px;margin: 0 5px 0 29px;position:relative;}
         input[type="checkbox"]:checked:after{content: '';position: absolute;top: 1px;left: 1px;display: block;border: 2px solid #000;padding: 1px;border-radius: 2px;background: #000;}
      label{font-size: 14px;letter-spacing: 0.075em;}
    }
  }
}


/* Listing Style 1
   //articles
   <div class="KCPL_listing1-article KCPL_background-COLORNAME">
     <span class="title">title</span>
     <div class="gutter">
        <div class="entry">
           <span class="entry-title">title</span>
           <div class="entry-excerpt">
               excerpt
           </div>
           <a href="#" class="KCPL_readmore">Learn more ≈</a>
        </div>
     </div>
   </div>


   //list
   <div class="KCPL_listing1-list KCPL_background-COLORNAME">
      <span class="title">title</span>
      <div class="gutter">
         <span class="list-title">title</span>
         <ul>
            <li><a href="#">www.url.com</a></li>
         </ul>
         <a href="#" class="KCPL_readmore">More Info ≈</a>
      </div>
   </div>

*/
.#{$namespace}listing1-article{border-radius:10px;color:#323333;
   .title{color:#fff;font:bold 18px/18px $nimbus;display:block;text-align:center;text-transform:uppercase;padding:15px 10px 15px;border-bottom:2px solid #323333;}
   .gutter{padding:12px 20px 1px;}
   .entry{display:block;margin:0 0 27px;
      .entry-title{font: bold 17px/17px $nimbus-c;text-transform: uppercase;letter-spacing: 0.095em;display:block;margin:0 0 2px;}
      .entry-excerpt{font:13px/18px $minion;display:block;letter-spacing:0.055em;margin:0 0 18px;}
      a{color:#323333;display:block;}
   }
}


.#{$namespace}listing1-list{border-radius:10px;
   .title{color: #fff;font: bold 18px/18px $nimbus;display: block;text-align: center;text-transform: uppercase;padding: 15px 10px 15px;border-bottom: 2px solid #000;}
   .gutter{padding:15px 20px 12px;}
   a{color:#323333;}
   .list-title{text-transform: uppercase;font: bold 18px/18px $nimbus-c;letter-spacing: 0.075em;}
   ul{list-style:none;margin:0 0 20px;}
   ul li{font:12px/12px $nimbus;margin:3px 0 6px;}
}



/* Listing Style 2

*/


// Listing Style 3
/*
<div class="KCPL_listing-style-3">
    <div class="KCPL_listing-style-3-header">
        <span>Social Feed</span>
    </div>
    <div class="KCPL_listing-style-3-body">
        <span class="KCPL_listing-style-3-body-title">Title this is the title it's short</span>
        <span class="KCPL_listing-style-3-body-date">Date 3, 2014</span>
        <span class="KCPL_listing-style-3-body-excerpt">Learn how easy it is to make your own healthy smoothies.</span>
        <span class="KCPL_listing-style-3-body-link">More &nbsp; ≈</span>
    </div>
    <div class="KCPL_listing-style-3-body">
        <span class="KCPL_listing-style-3-body-title">Title this is the title it's very long this is the title</span>
        <span class="KCPL_listing-style-3-body-date">Date 3, 2014</span>
        <span class="KCPL_listing-style-3-body-excerpt">Learn how easy it is to make your own healthy smoothies.</span>
        <span class="KCPL_listing-style-3-body-link">More &nbsp; ≈</span>
    </div>
    <div class="KCPL_listing-style-3-body">
        <span class="KCPL_listing-style-3-body-title">Title this is the title it's short</span>
        <span class="KCPL_listing-style-3-body-date">Date 3, 2014</span>
        <span class="KCPL_listing-style-3-body-excerpt">Learn how easy it is to make your own healthy smoothies.</span>
        <span class="KCPL_listing-style-3-body-link">More &nbsp; ≈</span>
    </div>
    <div class="KCPL_listing-style-3-body">
        <span class="KCPL_listing-style-3-body-link">Read all &nbsp; ≈</span>
    </div>
</div>
*/
.#{$namespace}listing-style-3 { display: block; }
.#{$namespace}listing-style-3 {
    .#{$namespace}listing-style-3-header { background: $yellow; padding: 15px; }
    .#{$namespace}listing-style-3-header {
        span { display: block; font-family: $nimbus; font-weight: 700; font-size: 19px; line-height: 21px; text-transform: uppercase; color: white; text-align: center; }
    }
    .#{$namespace}listing-style-3-body { background: $s-grey; padding: 11px 18px; }
    .#{$namespace}listing-style-3-body {
        .#{$namespace}listing-style-3-body-title { display: block; text-transform: uppercase; font-size: 18px; font-weight: 600; font-family: $nimbus-c; color: $d-grey; line-height: 23px; }
        .#{$namespace}listing-style-3-body-date { display: block; font-size: 15px; font-weight: 600; font-family: "Nimbus-Sans"; color: $d-grey; }
        .#{$namespace}listing-style-3-body-excerpt { display: inline; font-size: 13px; font-weight: 400; font-family: "Minion"; color: $d-grey; letter-spacing: .05em; line-height: 18px; }
        .#{$namespace}listing-style-3-body-link { display: inline; font-size: 14px; font-weight: 700; font-family: "Minion"; color: $d-grey; font-style: italic; }
    }
}


/* Listing Style 4

*/


/* Horizontal Callouts
   //single line
   <div class="KCPL_horz-single red">
     <div class="gutter">
        <span>Short Callouts</span>
     </div>
   </div>

   //multi line
   <div class="KCPL_horz-multi blue">
     <div class="gutter">
        <span>Medium Length Callout This is What</span>
     </div>
   </div>

   //multi line w/ link
   <div class="KCPL_horz-multi green">
     <div class="gutter">
        <span>Medium Length Callout</span>
        <a class="KCPL_readmore" href="#">Read More ≈</a>
     </div>
   </div>
*/
a > .#{$namespace}horz-single{color:#fff;}
.#{$namespace}horz-single{font:bold 42px/42px $nimbus-c;color:#fff;padding: 9px 27px 12px 18px;text-transform:uppercase;border-radius:11px;text-align:center;
   .gutter{padding:5px 5px 2px;border:1px solid #fff;}
   span{padding:0;}
   a{padding:0;}
}
.#{$namespace}horz-single.red{background:$red;}
.#{$namespace}horz-single.blue{background:$blue;}
.#{$namespace}horz-single.green{background:$green;}
.#{$namespace}horz-single.yellow{background:$yellow;}
.#{$namespace}horz-single.grey{background:$grey;}

.#{$namespace}horz-multi{border-radius:11px;color:#fff;
   .gutter{padding: 14px 27px 13px;}
   span{font: bold 20px/23px $nimbus;text-transform: uppercase;display: block;}
   a{color:#fff;}
}
.#{$namespace}horz-multi.red{background:$red;}
.#{$namespace}horz-multi.blue{background:$blue;}
.#{$namespace}horz-multi.green{background:$green;}
.#{$namespace}horz-multi.yellow{background:$yellow;}
.#{$namespace}horz-multi.grey{background:$grey;}


/* Special Callouts
   //talk box miltiple fonts
   <div class="KCPL_horz-talkbox-fonts KCPL_background-COLORNAME">
     <span class="KCPL_font-nimbus-condensed">Nimbus Condensed</span>
     <span class="KCPL_font-minion">Minion</span>
   </div>

   //multi font horizontal callout
   <div class="KCPL_horz-fonts KCPL_background-COLORNAME">
     <div class="gutter">
        <span class="KCPL_font-nimbus-condensed">Nimbus Condensed</span>
        <span class="KCPL_font-minion">Minion</span>
     </div>
   </div>
*/
.#{$namespace}horz-talkbox-fonts{position: relative;color: #fff;padding: 9px 14px 7px;border-radius: 4px;
   span{display:block;text-transform:uppercase;text-align:center;}
   .#{$namespace}font-nimbus-condensed{font-weight:bold;font-size:19px;margin:0 0 2px;}
   .#{$namespace}font-minion{font-size:14px;}
}
.#{$namespace}horz-talkbox-fonts:after{position: absolute;top: -7px;left: 12px;content: '';display: block;height: 8px;width: 14px;background: url(assets/img/talkCalloutCaret.png) no-repeat;}
.#{$namespace}horz-talkbox-fonts.#{$namespace}background-blue:after{background-position:-56px 0;}
.#{$namespace}horz-talkbox-fonts.#{$namespace}background-red:after{background-position:-42px 0;}
.#{$namespace}horz-talkbox-fonts.#{$namespace}background-green:after{background-position:-28px 0;}
.#{$namespace}horz-talkbox-fonts.#{$namespace}background-grey:after{background-position:-14px 0;}
.#{$namespace}horz-talkbox-fonts.#{$namespace}background-yellow:after{background-position:0 0;}

.#{$namespace}horz-fonts{padding:10px 13px;color:#fff;text-align:center;border-radius:10px;
   .gutter{border:1px solid #fff;padding:15px 2px 16px;}
   span{text-transform:uppercase;display:inline-block;vertical-align:bottom;font-size:18px;line-height:18px;}
   .#{$namespace}font-nimbus-condensed{font-weight:bold;margin:0 4px 0 0;}
   .#{$namespace}font-minion{}
}
